# CARTE-Enbridge Bootcamp
#### Lab 1-1b

In this lab, we'll delve into:

- Working with NumPy and pandas
- Data Loading and Cleaning
- Basic Data Visualization

Let's get started!

## NumPy and Pandas

### NumPy

NumPy is a Python library that provides a variety of useful features for working with numerical data.  The most important feature of NumPy is the **NumPy array**, a data structure that (as the name implies) is similar to a Python list, but provides additional features that make it useful for data science.  Let's take a look at some of the advantages NumPy arrays have over Python lists:

- **Ease of use:** You can write small, concise, and intuitive mathematical expressions like `X + 2` and `X * Y` (where `X` and `Y` are arrays), and the operations will be performed _element-wise_ (sometimes called _vectorized_).  This means that unlike Python lists, you don't have to write loops in order to make simple mathematical operations!
- **Performance:** NumPy arrays are implemented in C under the hood, meaning that operations on large arrays can be orders of magnitude faster than operations on Python lists!
- **Useful features:** NumPy provides many convenience functions and methods for performing quick and accurate mathematical operations and conversions on your data.  For example, you can compute the mean and standard deviation of an array using `np.mean()` and `np.std()`, respectively.
- **Broad applicability:** NumPy is the base of the entire Python data science ecosystem.  Practically every data science library for Python leverages NumPy in some way, making it a crucial skill to master for data science.

#### Creating NumPy Arrays

There are a variety of ways to create NumPy arrays, but the easiest way is to convert an existing list using `np.array()`.  Let's create a NumPy array from a list of integers:

In [ ]:
import numpy as np  # convention, np is the standard alias

my_list = [1, 2, 3, 4, 5]
my_array = np.array(my_list)

print(my_array)
print(my_array * 2)
print(my_array.sum())

## Pandas

Pandas is a Python library that provides additional data structures and data manipulation methods that make working with data easier.  The primary data structures in Pandas are **Series** and **DataFrames**.  A **Series** is a one-dimensional array of data where each element is labeled with an index.  A **DataFrame** is a tabular data structure comprised of rows and columns, similar to a spreadsheet, database table, or R's data.frame object.  Pandas is one of the most popular data science libraries for Python, and will be used heavily in this course.

One of many convenient features of Pandas is that it can read in just about any tabular data - including CSVs, Excel spreadsheets, and SQL tables - and convert them to DataFrames.  In this example, we will load a CSV from a URL (yes, it can download files too!) and convert it to a DataFrame:

In [ ]:
import pandas as pd

# Read in the CSV file
df = pd.read_csv(
    "https://raw.githubusercontent.com/pandas-dev/pandas/main/pandas/tests/io/data/csv/banklist.csv"
)

# Display the first 5 rows of the DataFrame
df.head(5)

We can do a lot of convenient things with Pandas DataFrames, such as:

- Group rows by their value in a particular column:

In [ ]:
# Get a list of cities (in the City column), grouped by state (in the ST column)
for state, cities in df.groupby("ST")["City"]:
    print(state)
    print(cities.values)
    print()

- Filter rows based on a condition (or multiple conditions):

In [ ]:
# Get a list of all banks in California that were acquired by U.S. Bank N.A.
df[(df["ST"] == "CA") & (df["Acquiring Institution"] == "U.S. Bank N.A.")]

And lastly for now,
- Sort rows by the values in one or more columns:

In [ ]:
# Sort the DataFrame by the Acquiring Institution column
df.sort_values("Acquiring Institution", ascending=True)

## Data Cleaning

Often when we're working with data, we'll find that it's not in the format we need it to be in.  For example, we might find that some of the values are missing, or that some of the values are in the wrong format.  In this section, we'll learn how to deal with some of these common issues.

### Missing Values

Missing values are values that are absent from the dataset.  Missing values are common in real-world datasets for a variety of reasons, such as data not being collected properly or data being lost.  Missing values are represented in Pandas by either `NaN` or `None`.  Let's take a look at how we can deal with missing values in Pandas.

In [ ]:
# Load the Titanic dataset
df = pd.read_csv(
    "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
)

# Display the first 5 rows of the DataFrame
df.head(5)

This is a famous dataset containing information about the passengers of the Titanic.  We'll come back to it a few times in this course.  For now, let's take a look at the `Age` column.  We can see that some of the values are missing, and are represented by `NaN`.  Let's count how many values are missing:

In [ ]:
# Display the number of missing values in the Age column
missing_count = df["Age"].isna().sum()
print(
    f"There are {missing_count} missing values in the Age column out of {len(df)} total rows."
)

We can see that there are 177 missing values in the `Age` column.  Later on, we'll learn how to deal with missing values, but for now, let's move on to another common data cleaning task: converting data to the right format.

### Data Types

Data types are a way of telling the computer how to interpret the data in a column.  For example, the `Age` column in the Titanic dataset is represented as floating-point numbers (i.e. numbers with decimal points).  This makes sense, since a person's age can be represented as a decimal (e.g. 27.5 years old).  However, the `Survived` column is represented as integers (i.e. whole numbers).  This also makes sense, since a person can either survive (1) or not survive (0).  Let's take a look at the data types of each column:

In [ ]:
df.dtypes

You may notice that a few of the columns are represented as `object`.  This is Pandas's way of saying that it doesn't know what data type to use.  In this case, it's because the values in those columns are strings, and Pandas doesn't know how to convert them to a numeric data type.  Let's take a look at the `Sex` column:

In [ ]:
df["Sex"]

While it might make sense for this column to contain `male` and `female` when a person is looking at it, when we're doing data science it's much easier for this column to contain a number. There are a few ways to do this, and we will look at some of the others later. For now, let's create a new column called `is_female` which has a value of `True` when the passenger is a female, and `False` otherwise:

In [ ]:
df["is_female"] = df["Sex"] == "female"
df.head(5)

If you look at the last column, you'll see that we have added our new column that only contains `True` or `False`. Why does this benefit us? For one thing, it allows us to easily do mathematical operations directly on the data. Let's say we want to count how many women were on the ship. If we try to take the sum of the `Sex` column, we get the following:

In [ ]:
df["Sex"].sum()

Clearly that's totally useless! Let's try the same with our new `is_female` column:

In [ ]:
df["is_female"].sum()

Much more convenient! We can even calculate the percentage of passengers who were women in a single line now:

In [ ]:
df["is_female"].mean() * 100

Another benefit is to do with how much storage our data takes up. Let's compare the memory usage of our two columns:

In [ ]:
memory_usage_sex = df["Sex"].memory_usage(deep=True)
memory_usage_is_female = df["is_female"].memory_usage(deep=True)
print(f"Sex column memory usage: {memory_usage_sex} bytes")
print(f"is_female column memory usage: {memory_usage_is_female} bytes")
print(f"Sex column uses {memory_usage_sex/memory_usage_is_female:.2f} times more data")

## Data Visualization

Data visualization turns complex datasets into easily digestible visuals, making it quicker to spot underlying patterns. Let's say we are interested in the relationship between cabin class and survival rate. We can use a bar chart to visualize this relationship:

In [ ]:
import matplotlib.pyplot as plt  # Standard convention - matplotlib's pyplot is usually aliased as plt

In [ ]:
# Get the number of survivors and fatalities for each cabin class
survivors = df.groupby("Pclass")["Survived"].sum()
fatalities = df.groupby("Pclass")["Survived"].count() - survivors

# Create a bar chart
plt.bar(survivors.index, survivors.values, label="Survived")
plt.bar(fatalities.index, fatalities.values, bottom=survivors.values, label="Died")

# Add labels and a legend
plt.xlabel("Cabin Class")
plt.ylabel("Number of Passengers")
plt.legend()

# Display the chart
plt.show()

Thanks to our visualization, we can easily see that the survival rate was highest for passengers in first class, and lowest for passengers in third class.  We can also see that there were more fatalities than survivors in third class, but more survivors than fatalities in first and second class. This is just one example of how data visualization can help us understand our data.

## Optional Exercise: Data Visualization

In this exercise, you will create a visualization to answer the following question:

> What was the survival rate by title?

We have provided the code to extract the title from each passenger's name, and to create a new column called `Title` containing the title for each passenger.  You will need to create a visualization to answer the question above.  You can use any type of visualization you like, but we recommend a bar chart or a pie chart.

In [ ]:
df["Title"] = df["Name"].str.extract(
    " ([A-Za-z]+)\.", expand=False
)  # This is a Regular Expression - a way of extracting patterns from text

In [ ]:
df[
    "Title"
].value_counts()  # You might notice the title Jonkheer - this is a Dutch honorific title, the lowest in the Dutch nobility system

In [ ]:
### Your answer here